<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{51,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,2},{49,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,116}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{49,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,116}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,2},{49,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,116}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{49,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,116}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,2},{49,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,116}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{49,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,116}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,2},{49,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,116}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{49,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,116}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000025.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000026.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000027.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000028.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000029.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
            <key>0000030.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{49,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{49,118}}</string>
                <key>sourceSize</key>
                <string>{179,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Astronaut.png</string>
            <key>size</key>
            <string>{1534,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5b8418e305a90ad73c96abd18c291f5:a6a9347585d073984a7bbeabd0d63c4e:e81f8149eb3334aedf99eed8c0c1151f$</string>
            <key>textureFileName</key>
            <string>Astronaut.png</string>
        </dict>
    </dict>
</plist>
